.error {
    margin-top: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 1;
    background: #FCDD76;
    border-radius: 20px;
    min-width: 20%;
    min-height: 80px;
    background-size: cover;
}
.error span {
    padding: 10px;
    color: #EC2D01;
    font-size: 30px;
}